

<div class="boat-card-header">
  <h1>RBNBOAT</h1>
    <%= link_to "Retour", :back, class:"btn btn-primary" %>
    <%= link_to "Reserver" , new_boat_rent_path(@boat.id), class: "btn btn-primary" %>
    
</div>

<div class="background-image-card">
  <img src="https://images.unsplash.com/photo-1561508539-d46a8ac4b20a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGJvYXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="oopsie">
</div>

<div class="background form">
  <h2><%= @boat.boat_model %></h2>
  <p><%= @boat.description %></p>
  <p><%= @boat.picture %></p>
  <p><%= @boat.licence %></p>
  <p><%= @boat.person_number %></p>
  <p><%= @boat.price %></p>
  <p><%= @boat.localisation %></p>
</div>
