<br>
<br>
<h2><%= @boat.boat_model %></h2>
<p><%= @boat.description %></p>
<p><%= @boat.picture %></p>
<p><%= @boat.licence %></p>
<p><%= @boat.person_number %></p>
<p><%= @boat.price %></p>
<p><%= @boat.localisation %></p>
<br>
<br>
 <%= link_to "Reserver" , new_boat_rent_path(@boat.id) %>
 <br>
 <br><%= link_to "return", boats_path %>
